{% extends 'BlogApp/template.html' %}

{% load static %}

{% block content %}

<div>
    <h1>Página Inicial</h1>
</div>

<div class="w3-panel">
    <div class="aligncenter w3-white">
        <img src="{% static 'BlogApp/Recetas Argentinas.png' %}" class="w3-round" alt="banner">
        <style> -->
            .aligncenter {
            text-align: center;
            };
        </style>
    </div>
</div>

<!-- Muestra los posteos -->
{% if posts %}
    <div>
        <h2>Últimos posteos</h2>
        {% for post in posts %}
            <div>
                <header><h3>{{ post.title }}</h3></header>
                <div>
                    <p>{{ post.author }} | {{ post.date }}</p>
                    <hr>
                    {% if post.image %}
                        <img src="{{post.image.url}}" style="width:200px" alt="title">
                    {% endif %}
                    <a button  href="{% url 'blogapp:PostDetail' post.id %}">¡Entra al POST!</a>
                    <p>{{ post.subtitle }}</p><br>
                    
                </div>
               
            </div>
        {% endfor %}
{% endif %}


{% endblock %}